.create-contract {
  input {
    height: 48px;
  }
  .upload-file {
    border: none;
  }
  .inner-container {
    height: 302px;

    gap: var(--Container-padding, 10px);
    padding: 16px;

    border-radius: var(--24, 24px);
    background: #252533;

    .inner-border {
      border-radius: 16px;
      border: 0.4px dashed #fff;
      backdrop-filter: blur(6.27199649810791px);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-upload {
      padding: 16px;
      height: 56px;

      display: flex;
      align-items: center;
    }
    .icon-upload {
      border-radius: 9.408px;
      background: linear-gradient(
        148deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.05) 100%
      );
      backdrop-filter: blur(6.27199649810791px);

      width: 53.312px;
      height: 53.312px;
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
